@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css');

html,
body {
  background-color: #11324D;
}
.parent {
    padding-top: 50px;
}
.nav ul {
    border-style: dashed;
    color: antiquewhite;
}
.nav ul a {
    text-decoration: none;
    color: beige;
    padding-right: 40px;
    font-size: 30px;
    font-weight: bold;
}
.pix {
    padding-top: 50px;
    text-align: center;
}
.pix ul {
    padding-top: 50px;
    padding-right: 50px;
}
.pix ul a {
    text-decoration: none;
    color: beige;
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}